{
	"token": "NjMwNzU3ODUzNDQ3MTkyNTc3.Xb3TWw.-dYQKF_cu9Tl73Z7xwe5RKurGks",
	"ownerID": "274629DHUD",
	"webhook": "UE",
	"defaultPrefix": "FHIUH",
	"clientSecret": "ufsd",
	"websiteURL": "www.Music Rex.com",

	"red": "هلا هنا افضل بوت ميوزك",
	"orange": "تبي تضيفه ؟ ضيف https://discordapp.com/api/oauth2/authorize?client_id=630757853447192577&permissions=8&scope=bot",
	"yellow": "عجبك ؟",
	"green": "جربه وش تنتضر ؟ يلا ",
	"blue": "انه افضل بوت"
}
